.meme-container {
    width: 70%;
    margin: 0 auto;
}
.meme-header {
    background: linear-gradient(90deg, #672280 1.18%, #A62AD3 100%);
    color: white;
    padding: 2rem;
    height: 7.5rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}
.meme-header h3 {
    font-size: 2rem;
    line-height: 3rem;
}
.image {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
}
.image img {
    border-radius: 0.5rem;
}
.meme-body {
    margin: 0 auto;
    width: 100%;
}
.input-container {
    margin-bottom: 5.5rem;
    gap: 3rem;
}
.input-field {
    height: 6.5rem;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
}
.meme-btn {
    width: 100%;
    height: 7.5rem;
    color: white;
    border-radius: 1.6rem;
    cursor: pointer;
    margin-bottom: 6rem;
    background: linear-gradient(90deg, #672280 1.18%, #A62AD3 100%);
}
.meme-btn h3 {
    font-size: 2.4rem;
    height: 3.2rem;
}