html {
  font-size: calc(100vw / 1440 * 10);
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'satoshi';
  src: url('./assets//fonts/Satoshi-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'satoshi-bold';
  src: url('./assets/fonts/Satoshi-Bold.woff2');
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h5,
p,
span {
  caret-color: transparent;
}
p, a, span, h4, h5, h6 {
  font-family: 'satoshi'
}
h1, h2, h3 {
  font-family: 'satoshi-bold';
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-center {
  justify-content: center;
  align-items: center;
}
.relative {
  position: relative;
}
.flex-wrap {
  flex-wrap: wrap;
}